body
	{
	text-align:center;
	}
h1
	{
	display: inline-block; 
	font-family:Arial;
	font-style:bold;
	color:black;
	text-align:center;
	}
h2
	{ 
	font-family:Arial;
	font-style:bold;
	color:red;
	text-align:center;
	}
p
	{
	display: block;
    	font-family:Arial;
    	font-style: bold;
	color: Blue;
	}
a
	{
	display: inline;
    	font-family: Arial;
    	color:black;
	}