body
{
    background:rgb(120, 0, 0);
    font-size: 100%;
    margin: 5%;
}
header
{
    background: rgb(218, 165, 32);
    padding-bottom: 2px;
    text-align: center;
}
section
{
    display:inline-block;
    width: 300px;
    border: solid 2px rgb(4, 0, 36);
    float: center;
    height:300px;
    padding: 1px;
    align: center;
    background: rgb(111, 110, 200);
}
section:hover
{
    background: linear-gradient(white,red, black );
}
.foto
{
    width: 300px;
    height: 300px;
    float: center;
}
a
{
    display: inline-block;
    font-weight: bold;
    color: rgb (109,2,109);
    background-color:#F5DEB3;
    text-align: center;
    padding: 1px;
}
a:hover
{
    background-color: #A0522D;
    color: rgb(109,2,109);
}
p1
{
    background-color:#F5DEB3;
    text-align: center;
    padding: 1px;
}

h1
{
    transition-property: color, width, background, border-radius;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
    transition-timing-function: linear;
}
h1:hover
{
    color: rgb(128, 128, 0);
}

h4
{
    display:block;
    font-weight: bold;
    color: rgb (109,2,109);
    background-color:#F5DEB3;
    text-align: center;
    padding: 1px;
}
h4:hover
{
    background-color: #A0522D;
    color: rgb(109,2,109);
}
img
{
    float:center;
    width:250px;
    height:300px;
    transition-property: transform;
    transition-duration: 0.75s;
}

img:hover
{
    transform: scale(1.5);
}

.frame {
    text-align: center;
    height: 500px;
    width: 500px;
    background-size: 500px 500px;

  }
  
  .class2 {
    border: inset 12px #F5DEB3;
  }